.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.col-md-6 {
  width: 30%;
}

.error{
  margin: 10px 0;
  width: 50%;
  border: 2px solid red;
  color: red;
  text-align: center;
}

li {
  margin: 10px 0;
}